.body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: white;
    height: 935px;
    margin: auto;
}
.app {
    width: 1140px;
    align-items: center;
    margin: auto;
}
.header {
    align-items: center;
}
.line {
    border: 1px solid black;
    width: 750px;
    margin-left: 150px;
    margin-top: 20px;
}
.top {
    font-size: 2.4em;
    align-items: center;
    padding-left: 350px;
    padding-top: 50px;
}
.form {
    margin-top: 50px;
    padding-left: 270px;
    display: flex;
}
.putText {
    border: none;
    width: 400px;
}
.tick {
    margin-left: 20px;
    width: 25px;
    height: 25px;
}
.add {
    border: none;
    margin-left: 20px;
    color: white;
    background-color: #ea7005;
    width: 86px;
    border-radius: 3px;
}
.todos {
    margin-top: 15px;
    padding-left: 270px;
    color: black;
    padding-right: 310px;
}
.todo {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.todo-text {
    flex: 1;
    padding-bottom: 10px;
    margin-top: 7px;
}
.actions {
    display: flex;
    padding-bottom: 10px;
}
.actions button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding-bottom: 10px;
    color: red;
}
.checker {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    margin-top: 4px;
}